pytho# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Distribution / build
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Test / cache
.pytest_cache/
.mypy_cache/
.cache/

# Editor / OS
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Environment variables
.envn